<!-- <input class="inputmap" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
    (onAddressChange)="handleAddressChange($event)" /> -->
<!-- <div class="searchbar inputmap">
    <div class="bar">
        <input type="text" #searchbar (keyup)="search($event)" [value]="selectedAddress" placeholder="Search Here" />
    </div>
    <ul *ngIf="addresses.length > 0">
        <li *ngFor="let address of addresses" (click)="onSelect(address)">
            <p> {{ address }}</p>
        </li>
    </ul>
</div> -->
<!--  -->

<mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[9]" [center]="coordinatesPoint"
    [cursorStyle]="cursorStyle" #map>

    <mgl-geojson-source id="point" [data]="points">
    </mgl-geojson-source>

    <mgl-marker [lngLat]="coordinatesPoint" [draggable]="true" (markerDragEnd)="onDragEnd($event)"></mgl-marker>

    <mgl-layer #targetLayer id="point" type="symbol" source="point" [layout]="{
      'icon-image': '{icon}-15',
      'icon-size': 2.0,
      'icon-allow-overlap': true
    }" (click)="onClick($event)" (mouseEnter)="cursorStyle = 'pointer'" (mouseLeave)="cursorStyle = ''"></mgl-layer>

    <mgl-control mglGeolocate [positionOptions]="{
      enableHighAccuracy: true
    }" [trackUserLocation]="true">
    </mgl-control>

    <mgl-control position="top-left" mglGeocoder></mgl-control>

    <mgl-popup *ngIf="selectedPoint" [lngLat]="selectedPoint.geometry.coordinates" (close)="selectedPoint = null">
        <span [innerHTML]="selectedPoint.properties.description"></span>
    </mgl-popup>

</mgl-map>
<!--  -->
<!-- <div id="map" #map></div> -->
<!-- <div class="calculation-box">
    <p>Click the map to draw a polygon.</p>
    <div id="calculated-area"></div>
</div> -->
<!--  -->
<div style="background: white;padding: 10px;position: absolute;bottom: 0%;left:0">
    <div>Longitude:&nbsp;{{ coordinatesPoint[0]}}</div>
    <div>Latitude:&nbsp;{{ coordinatesPoint[1]}}</div>
</div>